absl-py
astunparse
cachetools
certifi
chardet
click
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
itsdangerous
Jinja2
joblib
Keras-Preprocessing
Markdown
MarkupSafe
nltk
numpy
oauthlib
opt-einsum
protobuf
pyasn1
pyasn1-modules
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
sklearn
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
tqdm
typing-extensions
urllib3
Werkzeug
wrapt
zipp
